<nav class="nav-container">
    <a class="nav-name desktop-only {% if page.url == '/' %} current {% endif %}" href="/">Rasmus Tuokko</a>
    <a class="nav-name mobile-only {% if page.url == '/' %} current {% endif %}" href="/">R. T.</a>
    <span class="nav-items">
        {% for item in site.data.navigation %}
        <div class="nav-item {% if page.url == item.link %} current {% endif %}">
            <a href="{{ item.link }}">{{ item.name }}</a>
        </div>
        {% endfor %}
    </span>
</nav>