$primary-color: #F0F0F0;
$border-color: #4C4C4C;

@font-face {
    font-family: "Aujournuit Variable";
    src: url("../fonts/Aujournuit-VariableVF.woff2") format("woff2");
}

/* @font-face {
    font-family: "Glyseric";
    src: url("../fonts/Glyseric.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
} */

@mixin font-h1 {
    font-family: "Aujournuit Variable", serif;
    font-size: 3rem;
    font-weight: normal;
    font-variation-settings: "wdth" 4.5;
    //line-height: 1.2;
}

@mixin font-h2 {
    font-family: "Aujournuit Variable", serif;
    font-size: 2.5rem;
    font-variation-settings: "wdth" 4.5;
    font-weight: normal;
}

@mixin font-h2-densed {
    font-family: "Aujournuit Variable", serif;
    font-size: 2.5rem;
    font-variation-settings: "wdth" 3;
    font-weight: normal;
}

@mixin font-h3 {
    font-family: "Aujournuit Variable", serif;
    font-size: 2rem;
    font-variation-settings: "wdth" 3;
    font-weight: normal;
}

@mixin font-body {
    font-family: "Caudex", serif;
    font-weight: 400;
    font-size: 1.063rem;
    text-align: justify;
    //line-height: 1.2;
}

@mixin column-padding {
    padding-inline: max(1rem, 50% - 800px / 2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    @include font-h1;
    margin-bottom: 0.5rem;
}

h2 {
    @include font-h2;
    margin-bottom: 0.5rem;
}

h2.densed {
    @include font-h2-densed;
}

h3 {
    @include font-h3;
    margin-top: -0.25rem;
}

p {
    @include font-body;
    margin-bottom: 1rem;
}

.text-body {
    @include font-body;
}

figure {
    margin-bottom: 2rem;
}

figcaption {
    @include font-body;
    font-style: italic;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.link-underline {
    text-decoration: underline !important;
    text-underline-offset: 2px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul {
    list-style-position: inside;
    list-style-type: "– ";
}

li {
    @include font-body;
}

