.footer {
    margin-top: auto;
    //padding-bottom: 1rem;
    @include column-padding;
    padding-block: 1rem;
    writing-mode: horizontal-tb;

    border-top: 1px solid $border-color;
    
    .footer-items {
        display: flex;
        justify-content: space-between;
    }
}