.home-collection-container {
    display: grid;
    gap: 1rem;
    margin-bottom: 2rem;

    .home-collection {
        padding-inline: 1.3rem;
        padding-block: 1rem;
        border: 1px solid $border-color;
        border-radius: 4px;
    }
}

.list-container {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: repeat(auto-fit, 186px);
    justify-content: space-around;
    margin-bottom: 2rem;
}

.list-heading {
    @include font-body;
}

.add-margin-bottom {
    margin-bottom: 2rem;
}