.mobile-only {
    display: none;
}

.desktop-only {
    display: block;
}

@media (max-width: 400px) {
    .mobile-only {
        display: block;
    }

    .desktop-only {
        display: none;
    }
}

.nav-container {
    display: flex;
    justify-content: space-between;

    background-color: rgba($primary-color, 0.75);
    backdrop-filter: blur(4px);
    border-bottom: 1px solid $border-color;

    position: fixed;
    top: 0; left: 0; right: 0;
    @include column-padding;
    z-index: 2;
    padding-block: 0.5rem;
    writing-mode: horizontal-tb;

    @include font-h3;

    a:hover {
        font-style: italic;
    }

    .current {
        font-style: italic;
    }

    .nav-name {
        overflow: clip;
        white-space: nowrap;
        padding-right: 0.5rem;
    }

    .nav-items {
        display: flex;
        gap: clamp(1rem, 3vw, 2rem);
    }
}
