.mobile-only {
    display: none;
}

.desktop-only {
    display: block;
}

@media (max-width: 400px) {
    .mobile-only {
        display: block;
    }

    .desktop-only {
        display: none;
    }
}

.nav-container {
    display: flex;
    justify-content: space-between;

    background-color: $primary-color;
    border-bottom: 1px solid #1a1a1a;
    box-shadow: 2px 8px 5px -5px rgba(0, 0, 0, 0.05);

    position: fixed;
    top: 0; left: 0; right: 0;
    margin-inline: inherit;
    z-index: 2;
    padding-block: 0.5rem;
    writing-mode: horizontal-tb;

    @include font-h2;

    .nav-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .nav-items {
        display: flex;
        gap: 1em;

        .current {
            position: absolute;
            color: #cc0000;
        }
    }
}
