.post-title {
    margin-bottom: 0.5rem;
}

.post-image-grid-2x {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.25rem;
}

.post-image-grid-3x {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.25rem;
}
