@import "config";
@import "work";
@import "navigation";
@import "footer";
@import "post";
@import "card";
@import "blockquote";
@import "home";

body {
    min-height: 100vh;
    padding-top: 4.25rem;

    display: flex;
    flex-direction: column;

    background: $primary-color;

    .main-container {
        display: flex;
        flex-direction: column;

        @include column-padding;
        padding-bottom: 1rem;
    }
}