@import "config";
@import "work";
@import "navigation";
@import "footer";
@import "post";

body {
    margin-top: 4.5rem;
    margin-inline: max(1rem, 50% - 600px / 2);

    background: $primary-color;

    .main-container {
        display: flex;
        flex-direction: column;
    }
}